html
    padding: 0
    margin: 0
    overflow-x: hidden
body
    padding: 0
    margin: 0
    overflow-x: hidden !important
    box-sizing: border-box
    font-family: 'Roboto', sans-serif


.container
    max-width: 1194px
    margin: auto

.header
    display: flex
    align-items: center
    margin-top: 10px

.auth
    margin-left: auto

.search
    &__form
        margin-left: 76px
        margin-right: 190px
        background: rgba(238, 238, 238, 0.71)
        border-radius: 10px
        display: flex
        width: 620px
        flex-grow: 1
        position: relative

    &__input
        background-color: transparent
        border: none
        width: 100%
        padding: 13px 20px

    &__button
        background-color: transparent
        border: none
        position: absolute
        top: 0
        right: 0
        height: 100%
        padding-left: 18px
        padding-right: 18px
        cursor: pointer

.login
    background: #ebebeb
    border-radius: 50px
    padding: 16px 30px
    display: block
    text-decoration: none
    font-size: 14px
    line-height: 16px
    color: #000

.shopping
    &__cart
        position: relative
        width: 49px
        height: 49px
        border-radius: 50%
        background: #F66A15
        display: flex
        align-items: center
        justify-content: center
        margin-left: 30px


    &__counter
        position: absolute
        right: 0
        bottom: 0
        background: #FFAF19
        font-size: 8px
        line-height: 9px
        color: #000
        display: block
        padding: 5px
        border-radius: 50%
    
.slide
    display: flex
    border-radius: 20px
    max-height: 400px
    align-items: center
    padding: 100px
    margin-top: 20px
    position: relative
    overflow: hidden

    &__title
        font-weight: bold
        font-size: 50px
        line-height: 51px
        margin-top: 0
        margin-bottom: 15px
    
    &__text 
        font-weight: bold
        font-size: 16px
        line-height: 23px
        margin-bottom: 33px

    &-text-light
        background: grey
        color: #fff

    &__content
        max-width: 390px
        position: relative
    
    &__summer
        background: url(../img/summer.png)
        background-repeat: no-repeat
        background-size: cover
    
    &__autumn
        background: url(../img/autumn.png)
        background-repeat: no-repeat
        background-size: cover

    &__vitamins
        background: url(../img/vitamins.png)
        background-repeat: no-repeat
        background-size: cover  

    &:before
        content: ""
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        width: 100%
        height: 100%
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%)

.slider-button
    cursor: pointer
    &s
        position: absolute
        bottom: 40px
        right: 46px
        z-index: 9
        display: flex
        align-items: center
        width: 100px
        justify-content: space-between

.swiper
    position: relative

.button
    border-radius: 25px
    padding: 12px 50px
    display: inline-block
    text-decoration: none
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 23px
    cursor: pointer

    &-primary
        background: #f47322
        color: #fff
    &-default
        background: #fff
        color: #5F5F61
    &-outline
        padding: 15px 25px
        background: transparent
        border: 2px solid #F37321
        border-radius: 33px
        font-weight: 500
        font-size: 16px
        line-height: 19px
        color: #F37321
    &-center
        width: 315px
        height: 50px
        display: block
        margin: auto
        margin-top: 62px

.promo
    padding-top: 50px
    padding-bottom: 110px
    display: flex
    justify-content: space-between
    margin: -20px

.card
    flex: 50%
    margin: 20px
    position: relative
    border-radius: 20px
    overflow: hidden
    padding: 32px
    max-width: 570px
    max-height: 380px 
    display: flex
    flex-direction: column
    justify-content: space-between


    &:before
        z-index: -1
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
    
    &-text-light
        color: #fff
    
    &__title
        font-weight: 500
        font-size: 24px
        line-height: 23px
        margin-bottom: 21px
    &__description
        font-weight: 500
        font-size: 16px
        line-height: 23px
        max-width: 168px
    &__price
        display: block
        margin-bottom: 8px
        font-weight: 500
        font-size: 24px
        line-height: 23px
    &__delivery
        display: block
        font-weight: 500
        font-size: 16px
        line-height: 23px
        margin-bottom: 25px
    &__image
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -2

.delivery
    margin-bottom: 100px
    &__title
        display: block
        font-weight: 500
        font-size: 32px
        line-height: 23px
        margin-bottom: 50px

    &__cards
        display: flex
        flex-wrap: wrap
        margin: -15px
    
    &__card
        margin: 15px
        position: relative
        max-width: 275px
        max-height: 180px
        border-radius: 18px
        overflow: hidden
        cursor: pointer
    &__card-img
        width: 100%
        height: 100%
        object-fit: cover
    &__card-text
        position: absolute
        top: 0
        left: 0
        margin-top: 16px
        margin-left: 10px
        font-weight: 500
        font-size: 20px
        line-height: 23px
        border-radius: 30px
        display: block
        background: #fff
        padding: 5px 10px

.tag
    &-health
        background: #D0FD89
        color: #49494F
    &-vegetable
        background: #AEBC41
        color: #fff
    &-meat
        background: #B86B78
        color: #fff
    &-bird
        background: #D68334
        color: #fff
    &-fish
        background: #CD6255
        color: #fff
    &-child
        background: #FFFDBF
        color: #49494F
    &-parents
        background: #F6FDC8
        color: #49494F
    &-celebrate
        background: #FEF7FE
        color: #49494F

.section__grey
    background: #F6F6F6
    width: 100%

.category
    padding-top: 40px
    padding-bottom: 60px

.tabs
    display: flex
    margin: 0
    padding: 0
    list-style: none
    margin-bottom: 62px
    
    &__content
        display: flex
        justify-content: space-between
        margin: 0 -15px

    &__link
        font-size: 20px
        line-height: 23px
        color: #49494F
        text-decoration: none
        margin-right: 58px
        &.active 
            color: #F37321

    &__card
        margin: 15px
        max-width: 270px
        border-radius: 20px
        overflow: hidden
        background-color: #fff
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1)

        &-content
            padding: 23px

    &__image
        max-width: 100%
    
    &__title
        margin-top: 0
        margin-bottom: 13px
        font-weight: 500
        font-size: 20px
        line-height: 23px

    &__description
        font-weight: 500
        font-size: 14px
        line-height: 23px
        color: #B9B9BE
    
    &__info
        display: flex
        align-items: center
        justify-content: space-between

    &__price
        font-weight: 500
        font-size: 23px
        line-height: 23px
        color: #4B4B51
        display: block
        margin-bottom: 5px
    
    &__weight
        font-weight: 500
        font-size: 17px
        line-height: 20px
        color: #AAAAB1

.advantage
    margin-bottom: 202px

    &__section-title
        margin-top: 100px
        margin-bottom: 52px

    &__card
        max-width: 270px
        max-height: 300px
        border: 1px solid #E9E9E9
        box-sizing: border-box
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1)
        border-radius: 18px
        overflow: hidden
        text-align: center
        margin: 18px
        &s
            display: flex
            justify-content: space-between
            margin: 0 -18px

    &__image
        display: block
        margin: auto
        padding-top: 30px
    
    &__title
        font-weight: 700
        font-size: 16px
        line-height: 23px
        margin-top: 36px
        padding: 0 35px

    &__description
        font-size: 14px
        line-height: 22px
        color: #49494F
        margin-top: 13px
        padding: 24px
        padding-top: 0

.footer
    padding: 40px 0
    &__wrapper
        display: flex
        align-items: center
    &__link
        font-size: 16px
        line-height: 23px
        text-decoration-line: underline
        color: #000
        margin-right: 50px
    &__logo
        margin-right: 50px

.social__link
    margin-right: 20px
    text-decoration: none
    &s        
        display: flex
        align-items: center
        margin-left: auto


@media ( max-width: 1260px )
    .container
        max-width: 960px
    .search__form
        margin-left: 40px
        margin-right: 40px
    .tabs
        &__content
            flex-wrap: wrap
        &__card 
            flex: 50%
            min-width: calc( 50% - 30px )
    .advantage
        &__cards
            flex-wrap: wrap
        &__card
            flex: 50%
            min-width: calc( 50% - 36px )

@media ( max-width: 992px )
    .container
        max-width: 760px
    .slide
        padding: 60px
    .slider-buttons
        right: 23px
        bottom: 20px
    .card
        margin: 10px
        padding: 15px
    .delivery__card
        max-width: calc( 50% - 30px)
    .promo
        margin: -10px

@media ( max-width: 778px )
    .container
        max-width: 560px
    .header
        flex-wrap: wrap
    .search__form
        order: 5
        margin-right: 0
        margin-left: 0
        margin-top: 20px
        margin-bottom: 20px
    .slider-buttons
        display: none
    .promo
        flex-wrap: wrap
    .tabs__card
        flex: 25%
    .advantage__card
        flex: 25%
    .footer__logo
        margin-right: 30px
    .footer__link
        margin-right: 30px

@media ( max-width: 426px )
    .container
        max-width: 90%
    .delivery__card
        max-width: 92%
        flex: none
    .tabs
        &__card
            max-width: 92%
            flex: none
        &__link
            margin-right: 20px
            font-size: 15px
    .advantage__card
        max-width: 92%
        flex: none
    .footer__logo
        margin-right: 15px
        width: 105px
    .footer__link
        margin-right: 10px
        font-size: 10px
    
    .swiper
        max-width: 100%
    .slide
        padding: 30px
        &__title
            font-size: 25px
            line-height: none
            margin-bottom: 0
        &__text
            font-size: 11px
            line-height: 14px
    .button
        padding: 6px 30px
    .card
        padding: 20px
        &__title
            font-size: 17px
        &__description
            font-size: 10px
            line-height: 17px
        &__price
            font-size: 16px
            line-height: none
        &__delivery
            font-size: 10px
            line-height: none
            margin-bottom: 16px
    .social__link
        margin-right: 10px

    .delivery__title
        font-size: 22px
        margin-bottom: 25px
    .promo
        padding-bottom: 50px

@media ( max-width: 321px )
    .slide__title
        font-size: 22px